* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-family: sans-serif;
}
.wrapper {
  text-align: center;
}
.score {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.playground > ul {
  width: 250px;
  border: 2px solid #333;
}
.playground li {
  list-style: none;
}
.playground > ul > li {
  display: flex;
}
.playground > ul > li > li {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
}
/* 고정된 블록 색 */
.playground li li.fixed {
  background-color: #333;
}
/* 움직이는 블록 색 */
.playground li li.moving {
  background-color: #6c2;
}
